body {
	display: flex;
	justify-content: center;
}

.middle {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	height: 300px;
	padding-top: 2em;
}
